body {
  padding-top: 100px;
  background-color:black;
  font-size: 35px;
  text-align: left;
}
header {
  margin-bottom: 100px;
  color: #ff6600;
  font-size: 100px;
  text-align: center;
  font-weight: bolder;
}
p {
  font-weight: bold;
  color: #660000;
  font-size: 35px;
}
/*#container {
  text-align: left;
  display: flex;
  justify-content: space-between;
  color: red;
}*/
#output {
  /*height: 200px;
  width: 300px;
  border-color: black;
  border-width: 4px;
  padding: 50px;
  text-align: center;
  display: inline-block;*/
  position: absolute;
      top: 50px;
      left: 50px;
      z-index: 100;
      color: #660000;
      border-color: white;
      border-width: 4px;
}
radio {
  color: red;
}
div{
  color: #ff6600;
  font-weight: bold;
}
