body {
  padding-top: 100px;
  background-color:black;
  font-size: 35px;
  text-align: left;
}
header {
  margin-bottom: 100px;
  color: #660000;
  font-size: 100px;
  text-align: center;
  font-weight: bolder;
}
p {
  font-weight: bold;
  color: #660000;
  font-size: 35px;
}

#output {
  position: absolute;
      top: 150px;
      left: 100px;
      color: #ff6600;
}

div{
  color: #ff6600;
  font-weight: bold;
}

h5 {
  color: #ff6600;
  text-align: center;
  padding-bottom: 50px;
}
